<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>邀请名单</title>
</head>
<style>
    body {
        padding-top: 50px;
    }
</style>

<body ng-app="app">
    <div  class="container" style="background-color: #edbc80;">
        <div ng-controller="mainController">

            <div class="row" style="padding-top: 10px;">
                <h1 class="m-auto">邀请名单</h1>
            </div>

            <div class="row" style="padding-top: 30px;">
                <div class="col-sm-3">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">姓名</span>
                        </div>
                        <input type="text" ng-model="guestInfo.name" class="form-control" placeholder="输入姓名"
                            aria-describedby="inputGroup-sizing-lg">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">电话</span>
                        </div>
                        <input type="text" ng-model="guestInfo.phone" class="form-control" placeholder="输入电话"
                            aria-describedby="inputGroup-sizing-lg">
                    </div>
                </div>
                <div>
                    <button ng-click="invite()" class="btn btn-success">邀请</button>
                </div>
            </div>

            