<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyGuest</title>
</head>
<body ng-app="app">
    <div ng-contriller="mainController">
        <input type="text" ng-model="guestInfo.name" placeholder="輸入姓名">
        <input type="text" ng-model="guestInfo.phone" placeholder="輸入電話">
        <button ng-click=“invite（）”>邀請</button>
        <br>
        {{guestInfo}}
    </div>
    <br>
    
    <div>
        <table>
            <thead>
                <th>名字</th>
                <th>電話</th>
            </thead>
            <tbody ng-repeat="geust in geusts">
                <td>{{guest.name}}</td>
                <td>{{guest.phone}}</td>
            </tbody>    
        </table>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script>
        var app=angular.module('app',[]);
        app.controller('mainController', function ($scope, $location, modelService){
            //var guestInfo = $scope.guestInfo = {
            //    name: '',
            //    phone: ''
            //};
            
            //$scope.invite = function () {
            //    var msg=modelService.add(guestInfo.name, guestInfo.phone);
            //    $scope.guests = modelService.getList();
            //}
        })

    </script>
</body>
</html>