<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ionic JS 列表</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
</head>
<body ng-app="starter" ng-controller="myCtrl">
<ion-header-bar class="bar-positive">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    </div>
    <h1 class="title">通讯录</h1>
    <div class="buttons">
        <button class="button"
                ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
            排序
        </button>
    </div>
</ion-header-bar>
<ion-content>
    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        <ion-item ng-repeat="item in items" item="item"
                  href="#/item/{{item.id}}" class="item-remove-animate">
                  好友{{ item.id }}
            <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
            </ion-delete-button>
            <ion-option-button class="button-balanced">
                   星标朋友
            </ion-option-button>
            <ion-option-button class="button-calm">
                   修改备注
            </ion-option-button>
            <ion-reorder-button class="ion-navicon"
                on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
    </ion-list>
</ion-content>
</body>
<script type="text/javascript">
    var app = angular.module('starter', ['ionic']);
    app.controller('myCtrl', function($scope) {
        $scope.data = {
            showDelete: false
        };
        //排序
        $scope.moveItem = function(item, fromIndex, toIndex) {
            $scope.items.splice(fromIndex, 1);
            $scope.items.splice(toIndex, 0, item);
        };
        //删除好友
        $scope.onItemDelete = function(item) {
            $scope.items.splice($scope.items.indexOf(item), 1);
        };
        $scope.items = [{ id: 0 }, { id: 1 }, { id: 2 }, { id: 3 }, { id: 4 },
            { id: 5 }, { id: 6 }, { id: 7 }, { id: 8 }, { id: 9 }, { id: 10 }
        ];
    });
</script>
</html>