<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>$getByHandle()</title>
      <link href="lib/ionic/css/ionic.css" rel="stylesheet">
      <script src="lib/ionic/js/ionic.bundle.min.js"></script>
  </head>
  <body ng-app="starter">
      <ion-header-bar  class="bar-positive">
          <h4>$getByHandle()功能演示</h4>
      </ion-header-bar>
      <ion-content ng-controller="myCtrl" delegate-handle="mainScroll">
          <ul class="list">
              <li class="item royal-bg">整个内容区域顶部</li>
              <li class="item" ng-repeat="item in items">{{item}}</li>
          </ul>
          <ion-scroll delegate-handle="small" style="height: 300px;">
              <ul class="list">
                  <li class="item royal-bg">小区域顶部</li>
                  <li class="item calm-bg" ng-repeat="item in items">{{item}}</li>
              </ul>
          </ion-scroll>
          <div class="bar">
              <button ng-click="scrollSmallToTop()">
                  滚动小区域到顶部!
              </button>
              <button ng-click="scrollMainToTop()">
                  滚动整个内容区域到顶部
              </button>
          </div>
      </ion-content>
  </body>
  <script>
      //定义控制器
      angular.module("starter",["ionic"]).controller("myCtrl",function($scope,$ionicScrollDelegate){
          //初始化数据
          $scope.items=[];
          for(var i=1;i<=10;i++){
              $scope.items.push("第"+i+"条数据");
          }
          //滚动到整个内容区域顶部
          $scope.scrollMainToTop = function() {
              $ionicScrollDelegate.$getByHandle('mainScroll').scrollTop();
          };
          //滚动到小区域顶部
          $scope.scrollSmallToTop = function() {
              $ionicScrollDelegate.$getByHandle('small').scrollTop();
          };
      });
  </script>
</html>