<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>邀请名单</title>
        <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    </head>
<body ng-app="nameList">
<div ng-controller="MainController">
    <div class="container">
        <div class="row">
            <center><h1>邀请名单</h1></center>
        </div>
        <div class="row">
            <div>
                <div >
                  <span >
                      姓名
                  </span>
                    <input type="text" ng-model="guestInfo.name">
                </div>
            </div>
            <div>
                <div >
                  <span >
                      电话
                  </span>
                    <input type="text" ng-model="guestInfo.phone">
                </div>
            </div>
            <div>
                <button ng-click="invite()" >邀请</button>
            </div>
        </div>
        <div class="row">
            <a href="#!/all">显示全部</a>
            <a href="#!/invite">显示邀请中</a>
            <a href="#!/accept">显示已接受</a>
            <a href="#!/refuse">显示已拒绝</a>
        </div>
    <div>
        <div class="row">
            <table>
            <tr>
                <th>编号</th>
                <th>嘉宾姓名</th>
                <th>嘉宾电话</th>
                <th>受邀状态</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="guest in guests">
                <td>{{$index+1}}</td>
                <td>{{guest.name}}</td>
                <td>{{guest.phone}}</td>
                <td>{{guest.state}}</td>
                <td>
                    <button ng-if="guest.state=='邀请中'" ng-click="guest.accept()" >接受邀请</button>
                    <button ng-if="guest.state=='邀请中'" ng-click="guest.refuse()" >拒绝邀请</button>
                    <button ng-click="remove(guest)">删除</button>
                </td>
            </tr>
        </table>
    </div>
</div>
    </div>
    </div>
<script src="lib/angular/angular.js"></script>
<script src="js/ModelService.js"></script>
<script>
    var app = angular.module('nameList', ['nameList.model']);
    app.controller('MainController', function ($scope, $location,modelService) {
        var state = Guest.ALL;
        var guestInfo = $scope.guestInfo = {
            name: '',
            phone: ''
        };
        $scope.invite = function () {
            var msg = modelService.add(guestInfo.name, guestInfo.phone);
            guestInfo.name = '';
            guestInfo.phone = '';
            switch (msg.code) {
                case 0:
                    $scope.guests = modelService.getList(state);
                    break;
                case 1:
                    alert('请输入正确的姓名和电话。');
                    break;
                case 2:
                    alert('嘉宾信息有重复，请进行检查');
                    break;
            }
        };
        $scope.remove = function (guest) {
            modelService.remove(guest);
            $scope.guests = modelService.getList(state);
        };
        $scope.location = $location;
        $scope.$watch('location.path()', function (newValue) {
            switch (newValue) {
                case '/all':
                    state = Guest.ALL;
                    break;
                case '/invite':
                    state = Guest.INVITE;
                    break;
                case '/accept':
                    state = Guest.ACCEPT;
                    break;
                case '/refuse':
                    state = Guest.REFUSE;
                    break;
            }
            $scope.guests = modelService.getList(state);
        });
    });
</script>
</body>
</html>