<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>弹出框</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
</head>
<body ng-app="starter"ng-controller="myCtrl">
<button class="button button-balanced" ng-click="showPopup()">
    自定义
</button>
<button class="button button-dark" ng-click="showConfirm()">
    确认
</button>
<button class="button button-assertive" ng-click="showAlert()">
    警告
</button>
</body>
<script type="text/javascript">
    angular.module('starter', ['ionic'])
            .controller('myCtrl',function($scope, $ionicPopup) {
                $scope.showPopup = function() {
                    $scope.data = {}
                    // 自定义弹出框
                    var myPopup = $ionicPopup.show({
                        template: '<input type="password" ng-model="data.pass">',
                        title: '请输入密码',
                        subTitle: '8位数字和字母组合',
                        scope: $scope,
                        buttons: [
                            { text: '取消' },
                            {
                                text: '<b>保存</b>',
                                type: 'button-positive',
                                onTap: function(e) {
                                    if (!$scope.data.pass) {
                                        // 输入密码前，不允许用户关闭
                                        e.preventDefault();
                                    } else {
                                        myPopup.close();
                                    }
                                }
                            },
                        ]
                    });
                    myPopup.then(function() {
                        console.log('自定义弹出框关闭了');
                    });
                };
                //  确认弹出框
                $scope.showConfirm = function() {
                    var confirmPopup = $ionicPopup.confirm({
                        title: '提示',
                        template: '您是否同意用户协议'
                    });
                    confirmPopup.then(function(res) {
                        if(res) {
                            console.log('同意');
                        } else {
                            console.log('不同意');
                        }
                    });
                };
                //  警告弹出框
                $scope.showAlert = function() {
                    var alertPopup = $ionicPopup.alert({
                        title: '提示',
                        template: '电量不足'
                    });
                    alertPopup.then(function(res) {
                        console.log('警告弹出框关闭了');
                    });
                };
            });
</script>
</html>
